// games/index.jade

extends /_layout.jade
include /_widgets/index.jade


block head
  //-link(href="/css/posts.css" rel="stylesheet")

block bottom_js
  //-script(src="js/posts.js")

block body
  - var curr = 'works'
  header#works-header.minor-header
    +header-content(curr)
  article#works-content
    section#games
      h1 Games
      +works-list(template.works.games)

    section#short
      h1 Short Works
      +works-list(template.works.short)

  footer#posts-footer.main-footer
    +footer-content(curr)
