// _post.jade
extends /_layout.jade
include /_widgets/index.jade


block head
  link(href="/css/post.css" rel="stylesheet")

block bottom_js
  script(src="/js/post.js")

block body
  - var curr = 'post'
  header#post-header.minor-header
    +header-content(curr)
  article#post-content
    header#post-content-header
      h2= current.post.title
    article.article-content
      != yield

  footer#post-footer.main-footer
    +footer-content(curr)
