extends /_layout.jade

block head
  script(src="js/posts.js")

block body
  header#posts-header.minor-header
    nav#blog-header-nav
      ul
        li
          a(href="" title="Posts") Posts
        li
          a(href="" title="About") About
    h1.blog-title
      a(href="/" title="Home") Houkanshan's Blog
  article#posts-content
    ul.posts-list
      - posts.forEach(function(post) {
        li.post-item
          .post-hd
            h3.title= post.title
            .date= post.date
          .post-bd= post.abstract
      - })
  footer#home-footer.main-footer
    nav#blog-footer-nav
      ul
        li
          a(href="" title="Posts") Posts
        li
          a(href="" title="About") About

