// posts.jade
extends /_layout.jade
include /_widgets/index.jade

block head
  link(href="css/posts.css" rel="stylesheet")

block bottom_js
  script(src="js/posts.js")

block body
  header#posts-header.minor-header
    nav#posts-header-nav
      +nav-list('posts', template.nav)
      +title()
  article#posts-content
    +posts-list(posts)

  footer#home-footer.main-footer
    nav#blog-footer-nav
      ul
        li
          a(href="" title="Posts") Posts
        li
          a(href="" title="About") About
