.wrapper
  margin: 0 auto
  padding-top: 54px
  overflow: hidden
  width: 100%

header
  float: left
  width: 246px
  h1
    height: 134px
    padding-bottom: 0
    margin-bottom: 0
article
footer
  width: 592px
  margin-left: 282px

// header


// article
.post
  .hd
    position: relative
    height: 134px
    margin-bottom: 246px + 16px
    h2
      padding: 0
      position: absolute
      bottom: 0

article
  h1
  h2
  h3
    font-family: Optima-Regular
    //font-family: HelveticaNeue-UltraLight
    //font-family: HelveticaNeue-Light

// footer
footer
  margin-top: 24px

@media only screen and (max-width: 800px) and (orientation: portrait)
  header
    float: none
    width: 100%
    padding: 0
    margin-bottom: 24px
    h1, li
      display: inline
      padding-right: 10px
  article
  footer
    width: initial
    margin: 0
    padding: 0 10px
  pre
    margin: 1em
    padding: .6em

