.wrapper
  margin: 0 auto
  padding-top: 20px
  overflow: hidden
  width: 100%

header
  float: left
  width: 208px

article
footer
  width: 592px
  margin-left: 234px

// header


// article

// footer
footer
  margin-top: 24px

@media only screen and (max-width: 800px) and (orientation: portrait)
  header
    float: none
    width: 100%
    padding: 0
    margin-bottom: 24px
    h1, li
      display: inline
      padding-right: 10px
  article
  footer
    width: initial
    margin: 0
    padding: 0 10px
  pre
    margin: 1em
    padding: .6em

