@import "variable"

body
  font: $baseFontSize/$baseLineHeight $baseFontFamily
  background-color: $bodyBg
  color: $baseFontColor
  line-height: 1.5
  h1
    font-size: 14px

a, a:hover
  color: $linkColor
  text-decoration: none

a:hover
  color: black

h1, h2, h3, h4, h5, h6
  font-weight: normal
  letter-spacing: .1em
  word-spacing: .3em
  &:first-child
    padding-top: 0
    vertical-align: top

a
  transition: all .2s ease-in

h1
  font-size: 2em
h1, h3
  padding: 1.5em 0

h2
  font-size: 1.5em
  padding: 1.75em 0
h3
  font-size: 1.33333em

b, em
.text-bold
  font-weight: bold

i
  font-style: italic


pre
p
  margin: 1em 0

pre
  padding: .5em 0
  margin-left: -2000px
  padding-left: - @margin-left
  margin-right: -2000px
  padding-right: - @margin-right

blockquote:before
q:before
  content: ''
blockquote:after
q:after
  content: ''

ul, ol
  font-size: 0
  li
    font-size: $baseFontSize

.list li
  display: block
  margin-bottom: 3px

.list-lined li
  margin-bottom: 8px
  padding-bottom: 8px
  border-bottom: 1px solid #eee

.list-col li
  inline-block()
  vertical-align: top

.list-col2
  margin-right: -30px
  li
    width: 297px
    margin: 0 30px 20px 0

.list-col5
  margin-right: -43px
  li
    width: 90px
    margin: 0 43px 15px 0
    text-align: center

.tags
  line-height: 0
  li
    display: inline
  a
    inline-block()
    line-height: 1
    margin: 0 7px 6px 0
    padding: 6px 10px
    background-color: #ebebe4
    word-wrap: break-word
    overflow: hidden
  a:hover
   color: $linkColor
   background-color: #dbdbd4
