$column = 48px
$gutter = 24px

// colors
$darkBlue = #141726
$blue = #163a59
$brown = #68665b
$lightBrown = #d4c7bb
$darkBrown = #908173
$green = #060
$darkGreen = #2c4001
$black = #222
$white = #fffff9
$lightGray = #f4f4ee
$gray = #999

$bodyBg = $white
$linkColor = $gray

$sansFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
$codeFont = Consolas,"Liberation Mono","BitStream Vera Sans Mono",CourierNewPS-BoldMT,"Courier New",Courier,monospace

$baseFontSize = 14px
$baseFontColor = $black
$baseLineHeight = 1.5
$baseFontFamily = $sansFontFamily
