$column = 48px
$gutter = 24px

// colors

$sansFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
$codeFont = Consolas,"Liberation Mono","BitStream Vera Sans Mono",CourierNewPS-BoldMT,"Courier New",Courier,monospace

$baseFontSize = 12px
$baseLineHeight = 1.5
$baseFontFamily = $sansFontFamily
