// about.jade
extends /_layout.jade
include /_widgets/index.jade


block head
  link(href="/css/about.css" rel="stylesheet")

block button_js
  script(src="js/about.js")

block body
  - var curr = 'about'
  header#about-header.minor-header
    +header-content(curr)

  article#about-content.article-content
    section
      p
        | Mai Hou is a front-end engineer and indie game developer, working at
        a(href='https://read.douban.com') Douban Read
        | .
    section
      p Twitter:
        a(href="https://twitter.com/houkanshan" title="Twitter@houkanshan" target="_blank") https://twitter.com/houkanshan
      p Instagram:
        a(href="https://instagram.com/houkanshan" title="Instagram" target="_blank") https://instagram.com/houkanshan
      p GitHub:
        a(href="https://github.com/houkanshan" title="Github" target="_blank") https://github.com/houkanshan
      p Douban:
        a(href="https://www.douban.com/people/houkanshan" title="Douban" target="_blank") https://www.douban.com/people/houkanshan


  footer#about-footer.main-footer
    +footer-content(curr)
