doctype html
html(lang="en")
  head
    title
      block title
        | Hou Mai
    meta(name="author" content="Hou Mai")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="twitter:title" content="Hou Mai")
    meta(name="twitter:site" content="@houkanshan")
    meta(name="twitter:summary" content="Hou Mai is a front-end engineer and indie game developer.")
    link(href="/atom.xml" rel="alternate" title="Houkanshan" type="application/atom+xml")

    link(rel="stylesheet" href="/css/index.css")
    include _widgets/ie.html
    block head

  body.theme-modern
    #top
    .wrapper
      block body

    script(src="/js/core.js")
    block bottom_js
    include _widgets/ga.jade
