doctype html
html(lang="en")
  head
    title Houkanshan's Blog
    // TODO: meta
    script(src="js/core.js")
    link(rel="stylesheet" href="css/index.css")
    block head
  body
    block body
    block bottom_js
    include _widgets/ga.jade
