// _layout.jade
doctype html
html(lang="en")
  head
    title Houkanshan’s Blog
    // TODO: meta
    link(rel="stylesheet" href="/css/index.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no")
    block head
  body.theme-modern
    block body

    script(src="js/core.js")
    block bottom_js
    include _widgets/ga.jade
