// index.jade
extends /_layout.jade
include /_widgets/index.jade

block head
  link(href="css/posts.css" rel="stylesheet")

block button_js
  script(src="js/index.js")

block body
  header#home-header.main-header
    nav#blog-header-nav
      +nav-list('', template.nav)
      +title()

    h1.blog-title Houkanshan's Blog

  article#home-content
    +posts-list(posts.slice(0, 3))

    footer#posts-footer
      a(href="posts") more

  footer#home-footer
    nav#blog-footer-nav
      ul
        li
          a(href="/posts/" title="Posts") Posts
        li
          a(href="" title="About") About
