
<div id="post" class="post">
  <div class="hd">
      <span class="meta">
        {{ page.date | date_to_long_string }}
        {% if page.location %}{{ page.location }}{% endif %}
      </span>
      <h2>{{ page.title }}</h2>
  </div>
  <div class="bd">
    {{ content }}
  </div>
</div>

<div class="related">
  <h2>Related</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:2 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date_to_string }}</span>
      </li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">
  var page = page || {}
  page.type = 'post'
</script>

{% include JB/comments %}
