shape-plus-sign(side, sign-width, background-color = transparent, sign-color)
  display: inline-block
  background: background-color
  width: side
  height: @width
  vertical-align: middle
  offset = (side / 2 - sign-width / 2)
  .plus
    display: inline-block
    background: sign-color
    width: sign-width
    height: side
    position: relative
    margin-left: offset
    &:before
      content: ''
      background: sign-color
      width: side
      height: sign-width
      position: absolute
      top: offset
      left: - @top
