.dialog-sharing
  width: 480px
  background-color: #fffff9
  font-size: 12px
  .bd
    padding: 0
  .form-bd
    .img
      float: left
      _display: inline
      margin-right: 15px
    .share-text-wrapper
      padding: 8px
      border: 1px solid #ccc
  .form-ft
    position: relative
    left: -20px
    bottom: -30px
    width: 100%
    padding: 10px 20px
    background-color: #e4e4de
  textarea
    width: 100%
    padding: 0
    margin: 0
    height: 90px
    border: none
  .form-section
    margin-top: 10px
    .share-options
      overflow: hidden
      vertical-align: middle
      .share-dou
      .share-sina
        margin-right: 1em
    .options-helper
      width: 60px
      margin-top: 5px
      padding-right: 20px
      text-align: right
      float: left
    .fields
      overflow: hidden
      _zoom: 1
      .group
        margin-top: 5px
    .confirm-sharing
      float: right
  .form-ft
  .share-options
    .checkbox
      cursor: pointer
      vertical-align: 0
      margin: 0

.form-bd .share-text-wrapper
.form-bd
.form-ft .share-options
.form-ft
  overflow: hidden
  _zoom: 1
