@import "arkui/mixins"

.detail-frame
  display: none

.arrow-left, .arrow-right
  position: absolute
  bottom: 32px
  _bottom: 27px
  width: 6px
  height: 9px
  background: url(/pics/arrow_gray.gif) no-repeat

.arrow-left
  left: 0
  margin-left: -6px

.arrow-right
  left: 326px
  background-position: -6px 0

.detail-tip
  position: absolute
  width: 250px
  padding: 13px 13px 0
  background: #fff
  border: 1px solid #ddd
  word-wrap: break-word
  color: #999

.detail-tip p
  margin: 0 0 10px

.shadow-left
.shadow-right
  border-radius: 3px

.shadow-right
  box-shadow: 2px 2px 2px #999

.shadow-left
  box-shadow: -2px 2px 2px #999
