.wrapper
  margin: 0 auto
  padding-top: 20px
  overflow: hidden

header
  float: left
  width: 192px
  padding: 0 10px 0

article
footer
  width: 520px
  margin-left: 234px


// header


// article

// footer
footer
  margin-top: 24px


@media only screen and (max-width: 320px) and (orientation: portrait), (max-width: 800px) and (orientation: portrait)
  header
    float: none
    width: 100%
    padding: 0
    margin-bottom: 24px
    h1, li
      display: inline
      padding-right: 10px
  article
  footer
    width: 100%
    margin-left: 0
