/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

/* reset */
html {
	color:#000;
	background:#FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:100;
}

q:before, q:after {
	content:'';
}

abbr,acronym {
	border:0;
	font-variant:normal;
}

/*end reset*/

body {
  background-color: white;
  font: 13.34px 'Microsoft YaHei', helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}


h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #369;
	text-decoration: none;
}

a:visited {
  color: #669;
}

a:hover {
  color: #fff;
	background:#039;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
		margin-bottom: 4em;
  }

  ul.posts span {
    color: #aaa;
    font-family: 'Microsoft YaHei', Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #219A44;
  font-weight: normal;
  margin-bottom: 2em;
	overflow:hidden;
}

#home{
	float:left;
}

.site .title ul{
	float: left;
}

.site .title li{
	float: left;
}

.site .title a {
    color: #219A44;
    text-decoration: none;
  }

  .site .title a:hover {
		background:none;
  }

  .site .title a.extra {
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
  }

	#tag{
		font-size: 12px;
		color: #666;
		font-weight:normal;
		display:block;
		clear:both;
	}

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    /*margin-left: 1.35em;*/
		width: 32.625em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

		#post .title, #related h2{
			color: #219A44;
			margin-bottom: 10px;
			font-weight:normal;
		}

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }


#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
