// Header

// Nav
#blog-header-nav
#blog-footer-nav
  li
    display: inline-block
    font-size: 13px
    &:first-child:before
      display: none
    &:before
      content: '·'
      margin: 0 .3em
  a
    opacity: .7
  a:hover
  a:active
    opacity: 1

#blog-header-nav
  height: 16px
  line-height: @height
