@import '_lib/arkui/mixins'
@import '_mixins'

@import '_variable'

body
  padding: 0 10px

html
body
.wrapper
.main-header
  height: 100%
.main-footer
  height: 38.2%

.wrapper
  max-width: wrapperWidth
  margin: 0 auto

// Header
.main-header
  position: relative
  .center-header
    margin-top: -30px
    position: fixed

.minor-header
  height: 138px
  position: relative
  .center-header
    margin-top: -20px


.center-header
  center()
  margin-left: -8px // Fake center
  text-align: center

// Footer
.main-footer
  position: relative
  .footer-wrapper
    center()
    width: 100%
    text-align: center

// Content
