center()
  margin: 0 auto
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

underline(line-height=18px)
  // From Medium
  text-shadow:
      -1px -1px 0 #fff
    , 1px -1px 0 #fff
    , -1px 1px 0 #fff
    , 1px 1px 0 #fff
    , 1px 0px 0 #fff
    , -1px 0px 0 #fff
    , 0px 1px 0 #fff
    , 0px -1px 0 #fff
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%)
  background-repeat: repeat-x
  background-size: 2px 2px
  background-position: 0 line-height
