@import '_mixins'

.posts-list
  .title
    font-size: 30px
    line-height: 30px
  .date
    color: #666
  .post-item
    margin-bottom: 32px
  .post-item a:hover
    .title span
      underline(26px, 2px)

