@import '_mixins'

coverHeight = 100px
specialCoverHeight = coverHeight * 1.66

.posts-list
  .post-bd
    margin-top: 10px
  .title
    font-size: 30px
    line-height: 30px
  .date
    color: #666
  .post-item
    margin-bottom: 42px
  .post-item a:hover
    .title span
      underline(26px, 2px)
  .cover
    height: coverHeight
    overflow: hidden
    position: relative
    font-size: 0
  .cover-wrapper
    position: absolute
    top: -100%
    bottom: -100%
    left: -50%
    right: -50%
    text-align: center
    img
      vertical-align: middle
      max-width: 54%
    .valign
      height: 100%
      width: 1px
      inline-block()
      vertical-align: middle
  .post-item:first-child
    .cover
      height: specialCoverHeight
