@import '_lib/arkui/mixins'

@import '_variable'
@import '_mixins'

@import '_fontface'

// font-family
body
  font: 18px/1.5 $SerifSansFont
  font-weight: $thinWeight

blockquote
i, em
  font-family: $KaiFont

p
  font-family: 'arkpunctuation', $SerifSansFont

code
  font-family: $CodeFont
  margin: 0 .23em
pre code
  margin: 0

strong, b
  font-weight: $boldWeight

for i in 1..7
  h{i}
    font-family: 'arkpunctuation', $SerifSansFont
    font-weight: $thinWeight
    a
      text-decoration: none

// Type
.underline
  underline()

body
  color: rgba(0, 0, 0, 0.8)
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
a
  text-decoration: none
  color: #000

// Article type
.article-content
  line-height: 2.0
  p, pre, ul, ol, blockquote
    margin-bottom: 1em
  for i in 1..7
    h{i}
      margin-bottom: .6em
  a
    font-family: $ItalicFont $HeiFont
    underline()
  a
    opacity: .75
    &:hover
    &:active
      opacity: 1
  em
  i
    margin: 0 .23em
  hr
    margin: 100px
    border: none
    border-bottom: 1px solid #ccc

  for i in 1..7
    h{i}
      font-weight: $bolderWeight
  h1
    font-size: 24px
  ul
    list-style: circle
  ol
    list-style: decimal
  ul, ol
    list-style-position: inside
    margin-left: 1em
// TODO if code need be figure out?
//  pre
//    &:before
//    &:after
//      content: ''
//      border-top: 1px solid #ccc
//      width: 100px
//      display: block
