@import '_lib/arkui/mixins'

$SansFont = '' // TODO
$SerifSansFont = $EnFont $HeiFont

// font-family
body
  font: 18px/1.5 $SerifSansFont
  font-weight: 200

blockquote
i
  font-family: $KaiFont

p
  font-family: $SansFont

code
  font-family: $CodeFont

em
  font-weight: bold

for i in 1..7
  h{i}
    font-family: $SerifSansFont
    font-weight: 200
    a
      text-decoration: none

// Type
.underline
  underline()

body
  color: rgba(0, 0, 0, 0.8)
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
a
  text-decoration: none
  color: #000

.article-content
  line-height: 2.0
  p, pre
    margin-bottom: 1em
  a
    font-family: $ItalicFont $HeiFont
    underline()
  a
    opacity: .75
    &:hover
    &:active
      opacity: 1
  em
  i
    margin: 0 .23em
  hr
    margin: 100px
    border: none
    border-bottom: 1px solid #ccc
