.hover-toggler
  .when-hover
    display: none
  &:hover
    .when-not-hover
      display: none
    .when-hover
      display: block

.hover-lighten
  opacity: 0.7
  &:hover
  &:active
    opacity: 1
