@import '_lib/arkui/mixins'

@import '_variable'
@import '_mixins'

.header-wrapper
  text-align: center
  padding: 10px

.minor-header
  height: 54px

#post-content-header
  h2
    font-size: 42px
    line-height: 2
    font-weight: $boldWeight
