@import '_lib/arkui/mixins'

@import '_variable'
@import '_mixins'

.header-wrapper
  text-align: center
  padding: 10px

.minor-header
  height: 54px

#post-content-header
  h2
    font-size: 42px
    line-height: 2
    font-weight: $boldWeight

#post-content
  .date
    color: #999

#post-content-footer
  margin-top: 2em
  position: relative
  .row-half
    width: 50%
    display: inline-block
  .prev
    text-align: right
  .prev
  .next
    display: block
  .prev
    padding-left: 1em
  .next
    padding-right: 1em

  h4
    font-size: 26px
  label
    display: block
    font-size: 16px
